.vscode/**
obj/**
libdocklike.so
Makefile
Makefile*user
COPYING
INSTALL
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in*
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
src/.deps/
src/.libs/
*.in
*.lo
*.la
.ccls
compile_commands.json
src/_gresources.c
.ccls-cache/
*.swp
*.swo
