[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=MXDock Taskbar
Comment=A minimalist, dock-style dock
Icon=applications-puzzles
X-XFCE-Module=mxdock
X-XFCE-Internal=false
X-XFCE-Unique=false
X-XFCE-API=2.0
